.type_bar_date{
    display: inline-block;
    font-size: 20px;
}
.type_bar_clock{
    position: relative;
}
.type_bar_left_line{
    width: 15px;
    height: 2px;
    margin: 0px;
    padding: 0px;
    background-color: #33cccc;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 78px;
}
.type_bar_right_line{
    width: 100%;
    height: 2px;
    margin: 0px;
    padding: 0px;
    background-color: #33cccc;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 513px;
}
.line2{
    color:#fafafa;
    display: none;
}
.timeline {
    padding: 0;
    list-style: none;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #33cccc;
    left: 77px;
    margin-left: -10px;
}
.timeline > li {
    position: relative;
}

.timeline > li .tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    margin-top: 12px;
    margin-left: 15px;
    position: absolute;
}
.timeline > li .tmtime.type_bar_date {
    margin-left: 0px;
}    

.timeline > li .tmicon {
    content: url(../images/circle.png);
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 71px;
    margin-left: -10px;
}
.timeline > li .tmicon2 {
    content: url(../images/circle2.png);
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 68px;
    margin-left: -10px;
}
.timeline > li .tmlabel {
    margin: 20px 0 20px 90px;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    padding: 0px 20px 8px 20px;
    background-color: white;
    position: relative;
}
.timeline > li .tmlabel_add {
    margin: 20px 0 20px 60px;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    padding: 0px 20px 20px 20px;
}
.timeline > li .tmlabel_add img{
    cursor: pointer;
}
.title{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}
.left_pic{
    position: absolute;
    top: 0;
    left: 0;
}
.timeline > li .tmlabel.left_space{
    margin-left: 22%;
}

.timeline > li .tmlabel.left_space2{
    margin-left: 37%;
}
.timeline > li .tmlabel.year_area{
    padding: 40px 0px 10px 0px;
    background-color: #fafafa;
}
.reading_bar1{
    width: 125px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: inline-block;
    color: white;
    padding-left: 12px;
    position: absolute;
    left: 93px;    
}
.reading_bar2{
    width: 320px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: inline-block;
    color: white;
    padding-left: 12px;
    position: absolute;
    left: 193px;
}
.timebar{
    font-family: "Lucida Bright";
    font-size: 16px;
    cursor: pointer;
}
.timebar.timebar_new{
    background-image:url(../images/new_bar_select.png);
    width: 90px;
    height: 30px;
    display: inline-block;
    color: white;
    padding: 4px 0px 0px 37px;
    position: absolute;
    right: 84px;
}
.timebar.timebar_old{
    background-image:url(../images/old_bar.png);
    width: 95px;
    height: 30px;
    display: inline-block;
    color: white;
    padding: 4px 0px 0px 37px;
    position: absolute;
    right: 0;
}
.second_title{
    font-size: 14px;
    font-weight: bold;
    padding: 13px 0px 20px 0px;
}
.context{
    font-size: 12px;
    color: #999999;
}
.up_triangle,.down_triangle{
    position: absolute;
    right: 15px;
    top: 15px;
}
.tmlabel_info{
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
    margin-top: 10px;
}
.tmlabel_info_item{
    background-color: white;
    height: 90px;
    margin-bottom: 10px;
}
.tmlabel_info_img{
    margin-right: 10px;
}
.tmlabel_info_title{
    font-size: 14px;
    padding: 10px 0px;
    color: #999999;
}
.tmlabel_info_context{
    font-size: 12px;
    color: #999999;
    overflow: hidden;
    height: 30px;
}