@media (max-width: 768px) {
    .type_bar_circle{
        margin-left: 54px;
    }
    .keyword_bg {
        left: 85px;
        top: 38px;
    }
    .overflow_hidden{
        overflow: visible;
    }
    .timeline > li .tmkeyword {
        margin: 20px 0 20px 85px;
    }
    .timeline > li .menu_title {
        margin-top: 10px;
        font-size: 12px;
    }
    .click_num {
        right: 0;
        bottom: 0;
    }
    .timeline > li .top_news {
        margin: 20px 0 20px 85px;
    }
}    


@media (min-width: 769px) and (max-width: 991px) {
    .timeline:before {
        left: 100px;
    } 
    .timeline > li .tmicon {
        left: 94px;
    }
    .timeline > li .tmlabel {
        margin: 20px 0 20px 16%;
        width: 85%;
    }
}

@media (min-width: 992px) and (max-width: 1169px) {
    .timeline:before {
        left: 100px;
    } 
    .timeline > li .tmlabel {
        margin: 20px 0 20px 120px;
        width: 84%;
    } 
}    

