.date_font_family{
    font-family: "Lucida Bright";
}
.type_bar_date{
    display: inline-block;
    font-size: 20px;
}
.col-lg-12{
    padding-left: 0px;
}
.type_bar_circle{
    position: relative;
    margin-left: 76px;
}
.type_bar_left_line{
    width: 15px;
    height: 2px;
    margin: 0px;
    padding: 0px;
    background-color: #33cccc;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 105px;
}
.type_bar{
    width: 95px;
    height: 30px;
    display: inline-block;
    color: white;
    padding: 5px 0px 0px 37px;
    position: absolute;   
}
.type_bar_right_line{
    width: 310px;
    height: 2px;
    margin: 0px;
    padding: 0px;
    background-color: #33cccc;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 440px;
}
.type_1{
    left:120px;
}
.type_2{
    left:195px;
}
.type_3{
    left:270px;
}
.type_4{
    left:345px;
}
.line{
    color:#fafafa;
}
.timeline {
    padding: 0;
    list-style: none;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #33cccc;
    left: 100px;
    margin-left: -10px;
}
.timeline > li {
    position: relative;
}

.timeline > li .tmtime.type_bar_date {
    margin-left: 0px;
}    

.timeline > li .tmicon {
    content: url(../images/circle.png);
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 94px;
    margin-left: -10px;
}
.timeline > li .tmicon2 {
    content: url(../images/circle2.png);
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 68px;
    margin-left: -10px;
}
.timeline > li .tmlabel {
    margin: 20px 0 20px 120px;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    padding: 0px 20px 8px 20px;
    background-color: white;
    position: relative;
}
.timeline > li .tmlabel_add {
    margin: 20px 0 20px 60px;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    padding: 0px 20px 20px 20px;
}
.title{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}
.left_pic{
    position: absolute;
    top: 0;
    left: 0;
}
.right_pic{
    position: absolute;
    top: -5px;
    right: 10px;
}
.timeline > li .tmlabel.left_space{
    margin-left: 22%;
}

.timeline > li .tmlabel.left_space2{
    margin-left: 37%;
}
/*seach.css*/
.keyword_bg{
    width: 170px;
    height: 30px;
    display: inline-block;
    padding: 5px 0px 0px 7px;
    position: absolute;
    right: 0;
}
.font_color_red{
    color: #ff9999;
}
.font_color_yellow{
    color: #ffcc00;
}
.font_color_green{
    color: #c4e72d;
}
.font_color_blue{
    color: #7dd7df;
}
.font_size_1{
    font-size: 16px;
}
.font_size_2{
    font-size: 24px;
}
.font_size_3{
    font-size: 32px;
}
.timeline > li .menu_title {
    margin-top: 7px;
    position: absolute;
    font-size: 17px;
}
.timeline > li .tmkeyword {
    margin: 20px 0 20px 120px;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    background-color: #fafafa;
    position: relative;
}
.timeline > li .tmkeyword span.font_size_1{
    margin-right: 10px;
}
.timeline > li .tmkeyword span.font_size_2{
    margin-right: 20px;
}
.timeline > li .tmkeyword span.font_size_3{
    margin-right: 30px;
}
.timeline > li .top_news {
    margin: 20px 0 20px 120px;
    padding-top: 7px;
}
.timeline > li .top_news .select_box{
    display: inline-block;
}
.click_num{
    font-weight: 100;
    color: #999999;
    position: absolute;
    right: 43px;
}