.title.margin_bottom_15{
    margin-bottom: 15px;
}
.title-2 {
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: none;
    padding-bottom: 10px;
    margin-bottom: 0px;
    min-height: 0px;
}
.form-inline .form-group{
    margin-left: 12px;
}
.form-group .form-control{
    width: 22%;
}
.form-group textarea.form-control{
    width: 73%;
}
.brief{
    float: left;
    margin-right: 4px;
}
/*office_emergency*/
.form-inline .col-lg-4.form-group{
    margin-left: 0px;
}