@media (max-width: 768px) {
    .form-inline .form-control{
        display: inline-block;
        width: 35%
    }
    .form-control.mail_width{
        width: 55%;
    }
}    

@media (min-width: 769px) and (max-width: 991px) {
    .form-control.mail_width{
        width: 27%;
    }
}

@media (min-width: 992px) and (max-width: 1169px) {
    .form-control.mail_width{
        width: 40%;
    }
}    

