.input-group.brown input {
  border: 1px solid #998675;
  height: 30px; }
.input-group.brown .btn-custom {
  background-color: #998675;
  background-image: none;
  text-shadow: none;
  border-color: #998675;
  padding: 4px 0px;
  color: #fff;
  border-radius: 0px;
  box-shadow: none;
  width: 120px; }
.input-group.brown.vertical-btn input {
  height: 100px; }
.input-group.brown.vertical-btn .btn-group-vertical {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  position: relative;
  font-size: 0;
  white-space: nowrap; }
  .input-group.brown.vertical-btn .btn-group-vertical .btn-custom {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px; }
  .input-group.brown.vertical-btn .btn-group-vertical > .btn:hover {
    z-index: 0; }
.input-group.brown.vertical-btn .btn-custom.top {
  padding: 20px 0px; }
.input-group.brown.vertical-btn .btn-custom.bottom {
  border-top: 1px solid #fff;
  padding: 8px 0px; }

.message-list-right {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px; }
  .message-list-right .user {
    width: 65px;
    text-align: left;
    display: inline-block;
    vertical-align: top; }
    .message-list-right .user img {
      box-shadow: 1px 1px 5px #A7A7A7; }
  .message-list-right .arrow_right_box {
    max-width: 65%;
    display: inline-block; }
  @media screen and (max-width: 768px) {
    .message-list-right .arrow_right_box {
      max-width: 56%; } }
  .message-list-right .date {
    display: inline-block;
    padding-left: 10px;
    vertical-align: bottom;
    margin-bottom: 10px; }

.message-list-left {
  position: relative;
  overflow: hidden;
  text-align: right;
  margin-bottom: 15px; }
  .message-list-left .user {
    width: 65px;
    text-align: right;
    display: inline-block;
    vertical-align: top; }
    .message-list-left .user img {
      box-shadow: -1px -1px 5px #A7A7A7; }
  .message-list-left .arrow_left_box {
    max-width: 65%;
    display: inline-block; }
  @media screen and (max-width: 768px) {
    .message-list-left .arrow_left_box {
      max-width: 54%; } }
  .message-list-left .date {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 10px; }

.row:last-child .message-list-left, .row:last-child .message-list-right {
  margin-bottom: 0px; }
  .row:last-child .message-list-left .date, .row:last-child .message-list-right .date {
    margin-bottom: 0px; }

.arrow_left_box, .arrow_right_box {
  text-align: justify;
  text-justify: auto;
  position: relative;
  background: white;
  padding: 10px;
  border-radius: 8px;
  min-height: 40px;
  border: 2px solid; }
  .arrow_left_box:after, .arrow_left_box:before, .arrow_right_box:after, .arrow_right_box:before {
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute; }
  .arrow_left_box:after, .arrow_right_box:after {
    border-width: 6px 16px 6px;
    margin-top: -10px; }
  .arrow_left_box:before, .arrow_right_box:before {
    border-width: 9px 20px 9px;
    margin-top: -13px; }

.arrow_right_box {
  border-color: #ff9999; }
  .arrow_right_box:after, .arrow_right_box:before {
    right: 100%; }
  .arrow_right_box:after {
    border-right-color: white; }
  .arrow_right_box:before {
    border-right-color: #ff9999; }

.arrow_left_box {
  border-color: #ffcc00; }
  .arrow_left_box:after, .arrow_left_box:before {
    left: 100%; }
  .arrow_left_box:after {
    border-left-color: white; }
  .arrow_left_box:before {
    border-left-color: #ffcc00; }
