$red: #E03E52;
$little-red: #E97886;
$light-red: #FF9999;
$yello: #FFCC00;
$brown: #736357;
$light-brown: #D8C9B7;
$little-gray: #E6E6E6;
$dark-gary: #4D4D4D;


// margin, and padding
$gap-s: 10px;
$gap-m: 15px;
$gap-l: 30px;
$gap-xl: 45px;

// font-color
$primary: #534741;

//font-color-hover
$blue: #33CCCC;

// font-size
$fs-list-content: 16px;
$fs-list-sec: 14px;