@import "variable";
.input-group.brown{
    input{
        border: 1px solid $brown;
        height: 30px;
    }
    .btn-custom{
        background-color: $brown;
        background-image: none;
        text-shadow: none;
        border-color: $brown;
        padding: 4px 0px;
        color: #fff;
        border-radius: 0px;
        box-shadow: none;
        width: 120px;
    }
    &.vertical-btn{
        input{
            height: 100px;
        }
        .btn-group-vertical{
            display: table-cell;
            vertical-align: middle;
            width: 1%;
            position: relative;
            font-size: 0;
            white-space: nowrap;
            .btn-custom{
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            > .btn:hover{
                z-index: 0;
            }
        }
        .btn-custom{
            &.top{
                padding: 20px 0px;
            }
            &.bottom{
                border-top: 1px solid #fff;
                padding: 8px 0px;
            }
        }
    }
}

.message-list-right{
    position: relative;
    overflow: hidden;
    margin-bottom: $gap-m;
    .user{
        width: 65px;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        img{
            box-shadow: 1px 1px 5px #A7A7A7;
        }
    }
    .arrow_right_box{
        max-width: 65%;
        display: inline-block;
    }
    @media screen and (max-width: $screen-s) {
        .arrow_right_box{
            max-width: 56%;
        }
    }
    .date{
        display: inline-block;
        padding-left: $gap-s;
        vertical-align: bottom;
        margin-bottom: $gap-s;
    }
}

.message-list-left{
    position: relative;
    overflow: hidden;
    text-align: right;
    margin-bottom: $gap-m;
    .user{
        width: 65px;
        text-align: right;
        display: inline-block;
        img{
            box-shadow: -1px -1px 5px #A7A7A7;
        }
    }

    .arrow_left_box{
        max-width: 65%;
        display: inline-block;
    }
    @media screen and (max-width: $screen-s) {
        .arrow_left_box{
            max-width: 56%;
        }
    }
    .date{
        display: inline-block;
        padding-right: $gap-s;
        margin-bottom: $gap-s;
    }
}

.arrow_right_box {
    position: relative;
    background: #fff;
    border: 2px solid $pink;
    padding: 6px 10px;
    border-radius: 8px;
    &:after, &:before{
        right: 100%;
        top: 20px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    };
    &:after{
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #fff;
        border-width: 6px 16px 6px 0px;
        margin-top: -10px;
    };
    &:before{
        border-color: rgba(194, 225, 245, 0);
        border-right-color: $pink;
        border-width: 9px 20px 9px 0px;
        margin-top: -13px;
    };
}

.arrow_left_box {
    position: relative;
    background: #fff;
    border: 2px solid $yellow;
    padding: 6px 10px;
    border-radius: 8px;
    &:after, &:before{
        left: 100%;
        top: 20px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    };
    &:after{
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #fff;
        border-width: 6px 16px 6px;
        margin-top: -10px;
    };
    &:before{
        border-color: rgba(194, 225, 245, 0);
        border-left-color: $yellow;
        border-width: 9px 20px 9px;
        margin-top: -13px;
    };
}