@import "variable";
.layout-3{
    .sub-title{
        background-color: $brow-white;
        padding: 60px 10px;
        text-align: center;
        color: $primary;
    }
    .itme-box{
        margin: 25px 0px;
        .question-box{
            width: 55%;
            .select_box{
                float: right;
                &.no-padding-right{
                    padding-right: 0px;
                }
            }
            img.quest{
                height: 17px;
            }
            img.font{
                height: 34px;
            }
            img.quest-font{
                height: 34px;
            }
        }
        @media (max-width: 768px) {
            .question-box{
                width: 100%;
            }
        }

        @media (min-width: 768px) {
            .question-box{
                width: 100%;
            }
        }
        @media (min-width: 992px) {
            .question-box{
                width: 55%;
            }
        }
        @media (min-width: 1200px) {
            .question-box{
                width: 55%;
            }
        }
        &.status .list-item{
            margin: 5px 0px 10px 0px;
        }
    }
}
