@import "variable";
.layout-1{
    .title-area, .body-area{
        margin-bottom: $gap-xl;
    }
    .column, .col-arrow{
        display: inline-block;
        // margin-right: $gap-xs;
    }
    .column{
        width: $col-2-width;
        &:first-child{
            vertical-align: middle;
        }
    }
    .col-arrow{
        // img{
        //     margin-top: -$gap-s;
        // }
    }
    .section{
        padding-bottom: 65px;
        .fliter{
            padding-bottom: 15px;
        }
        &:first-child{
            margin-top: 25px;
        };
    }
    .subject-title{
        background-color: #fff;
        text-align: center;
        padding: 18px 0px;
        h1{
            margin: 0px;
            padding: 0px;
            display: inline-block;
            vertical-align: middle;
        }
        img{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .sub-navbar{
        margin: 10px 0px;
    }

}