@import "variable";
.layout-1{
    .section{
        padding-bottom: 65px;
        .fliter{
            padding-bottom: 15px;
        }
        &:first-child{
            margin-top: 25px;
        };
    }

}