@import "variable";
.layout-1{
    .section{
        padding-bottom: 65px;
        .fliter{
            padding-bottom: 15px;
        }
        &:first-child{
            margin-top: 25px;
        };
    }
    .subject-title{
        background-color: #fff;
        text-align: center;
        padding: 18px 0px;
        h1{
            margin: 0px;
            padding: 0px;
            display: inline-block;
            vertical-align: middle;
        }
        img{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .sub-navbar{
        margin: 10px 0px;
    }

}