@import "variable";

// .topic-list{
.list-item{
  display: table;
  width: 100%;
  @media screen and (max-width: $screen-md) {
    margin-bottom: $gap-s;
  }
  .catetory-label{
    display: table-cell;
    width: 74px;
  }
  .tail{
    display: inline-block;
    color: $red;
    font-size: $fs-secondary;
    height: $list-item-height;
    vertical-align: top;
    @media screen and (min-width: $screen-md) {
      padding-top: 10px;
    }
    &.with-progress{
      width: 100%;
      @media screen and (min-width: $screen-md) {
        width: 43%;
      }
      .progress{
        display: inline-block;
        width: 80%;
        background: none;
        border: 1px solid $red;
        border-radius: 0px;
        .progress-bar{
          text-align: left;
          padding-left: $gap-xs;
          background-image: none;
          background-color: $red;
          box-shadow: none;
          min-width: 28px;
        }
      }
      .percent{
        vertical-align: top;
        float: right;
      }
      &.type-2{
        .progress{
          display: inline-block;
          width: 80%;
          background: none;
          border-radius: 0px;
          border: 0px;
          box-shadow: none;
          .percent{
            position: absolute;
            padding-left: 10px;
          }
          .progress-bar{
            text-align: left;
            padding-left: $gap-s;
            background-image: none;
            background-color: $red;
            box-shadow: none;
          }
          &.red-bar{
              .progress-bar{
                  background-color: $red;
              }
              .percent{
                  color: $red;
              }
          }
          &.little-red-bar{
              .progress-bar{
                  background-color: $little-red;
              }
              .percent{
                  color: $red;
              }
          }
          &.light-red-bar{
              .progress-bar{
                  background-color: $light-red;
              }
              .percent{
                  color: $light-red;
              }
          }
          &.little-gray-bar{
              .progress-bar{
                  background-color: $little-gray;
              }
              .percent{
                  color: $little-gray;
              }
          }
        }
      }
    }
  }

  &.bg-brown{
    .simple-topic-item-1{
      background-color: $brow-white;
      &:after{
        border-left-color: $brow-white;
      }
    }
  }
}
.descrip, .simple-topic-item-1{
  margin-right: $gap-s;
  display: table-cell;
  width: auto;
  height: $list-item-height;
  padding-left: $gap-s;
  padding-right: $gap-s;
  font-size: $fs-primary;
  vertical-align: middle;
  margin-bottom: $gap-s;
}
.secondary-text{
  font-size: $fs-list-sec;
  display: inline-block;
  float: right;
    img{
      margin-left: 10px;
    }
}
.descrip{
  color: $primary;
  background-color: #fff;
  .secondary-text{
    color: $red;
    padding-right: $gap-xl;
  }
}
.simple-topic-item-1{
  display: inline-block;
  background-color: $white;
  border: 1px solid $light-brown;
  color: $primary;
  padding-top: 8px;

    .item{
      border: 1px datted $brown;
    }

  &:first-child{
    width: 100%;
    @media screen and (min-width: $screen-md) {
      width: 55%;
    }
  }
  &.brow{
    background-color: $brow-white;
  }
  &.compete{
    padding-top: 0px;
    .user-icon{
      height: 39px;
    }
  }
  .secondary-text{
    color: $brown;
  }
  &.right-arrow{
    background-color: $white;
    // display: inline-block;
    border-right-width:0px;
    margin-right: 10px + $gap-s;
    position: relative;
    /* Required for Down Triangle */
    &:before, &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      // border-bottom: 0;
    }
    /* Stroke */
    &:before {
      top: -1px;
      right: -10px;
      /* If 1px darken stroke slightly */
      border-left-color: $light-brown;
      // border-width: 20px;
      border-width: 20px 0 20px 10px;
    }

    /* Fill */
    &:after {
      top: 1px;
      right: -9px;
      border-left-color: $white;
      border-width: 18px 0 18px 9px;
      // border-width: 19px;
    }
    span{
      &.change-to{
        color: $blue;
        font-size: $fs-secondary;
      }
    }
  }
}
  .simple-topic-item-2{
    display: inline-block;
    background-color: $white;
    border: 1px solid $light-brown;
    color: $primary;
    padding: 8px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    .title{
      font-size: 16px;
    }
    &:first-child{
      width: 100%;
      @media screen and (min-width: $screen-md) {
        width: 55%;
      }
    }
    .more{
      text-align: right;
      font-size: 14px;
      padding: 10px 0px;
      a{
        color: $brown;
      }
    }
    .item{
      margin: $gap-xs 0px;
      padding: $gap-s 0px;
      border-bottom: 1px dotted $brown;
      &:nth-child(2){
        border-top: 1px solid $brown;
        border-bottom: 1px solid $brown;
      };
      &:nth-last-child(2){
        border-bottom: 1px solid $brown;
      }
      .info{
        width: 48%;
        height: 40px;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: $gap-xs;
        span.name{
          margin-left: $gap-s;
        }
        img{
          display: inline-block;
          vertical-align: bottom;
        }
        &.right{
          width: 50%;
          height: auto;
          text-align: right;
        }
      }
      &.type-a{
        .body{
          background-color: $brow-white;
          padding: $gap-s;
        }
        .action{
          text-align: right;
          margin: $gap-s $gap-xs;
          img{
            margin-left: $gap-xs;
          }
        }
      }
    }


  }
