@import "variable";
@import "mixin";

.sub-navbar{
  .count-down{
    color: $white;
    display: inline-block;
    margin-bottom: $gap-s;
    &.answer{
      background-color: $yellow;
      .counter{
        span{
          color: $yellow;
        }
      }
    }
    &.question{
      background-color: $red;
      .counter{
        span{
          color: $red;
        }
      }
    }
    &.bg-linear{
      @include linear-background;
      .counter{
        span{
          color: $red;
        }
      }
    }
    &.bg-brown{
      background-color: $brown;
      .counter{
        span{
          color: $brown;
        }
      }
    }
    height: 30px;
    .counter{
      display: inline-block;
      padding-right: $gap-m;
      padding-left: $gap-s;
      span{
        background: white;
        color: $yellow;
        padding: 2px 3px 2px;
        &:last-child{
          margin-right: $gap-s;
        }
      }
    }
    a{
      margin-right: 0px;
    }
  }
  a{
    display: inline-block;
    margin-right: $gap-xs;
    margin-bottom: $gap-s;
    &:hover{
      .item{
        background-color: $brown;
      }
    }
  }
  .item{
    height: 30px;
    width: 80px;
    text-align: center;
    color: white;
    background-color: $lighter-brown;
    font-size: $fs-secondary;
    padding-top: 4px;
    &.question, &.answer{
      border-width: 0px;
      border-left-width: $border-xs;
      border-style: solid;
      &.disable{
        background-color: rgba( $lighter-brown, .2 )
      }
    }
    &.question{
      border-color: $red;
      &.disable{
        border-color: rgba( $red, .2 )
      }
    }
    &.answer{
      border-color: $yellow;
      &.disable{
        border-color: rgba( $yellow, .2 )
      }
    }
  }
}