@import "variable";


.progress{
  background-image: -webkit-linear-gradient(right, $red 0%, $yellow 100%);
  background-image: -o-linear-gradient(right, $red 0%, $yellow 100%);
  background-image: -webkit-gradient(linear, left right, left right, from($red), to($yellow));
  background-image: linear-gradient(to right, $red 0%, $yellow 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  overflow: visible;
}

.coffee-box{
  color: $primary;
  background-color: $lighter-brown;
  padding: 7px 10px 7px 5px;
  border-top-right-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  border-top-left-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
}

.title-1{
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 1px #C7C7C7;
  overflow: hidden;
  margin-bottom: 10px;
  h1{
    color: $primary;
    text-align: center;
    font-size: 38px;
    margin: 25px 0px;
  }
  .progress-box-1{
    padding: 0px 95px;
    padding-bottom: 25px;
    position: relative;
    color: #fff;
    .yes{
      position: absolute;
      left: 50px;
      top: -18px;
    }
    .no{
      position: absolute;
      right: 50px;
      top: -18px;
    }
    .number{
        position: relative;
        top: 1px;
      }
  }
  .progress-bar{
    box-shadow: none;
    position: relative;
    &.progress-bar-custom{
      background-image: none;
      background-color: transparent;
      min-width: 6% !important;
      max-width: 100% !important;
    }
    span.point{
      position: absolute;
      right: -15px;
      top: -5px;
      img{
        height: 30px;
      }
      i{
        font-style: inherit;
      }
    }
  }
}

.title-2{
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 1px #C7C7C7;
  overflow: hidden;
  margin-bottom: 10px;
  h3{
    color: $primary;
    text-align: left;
    font-size: 16px;
    margin: 15px;
  }
  .progress{
    height: 15px;
    margin-bottom: 0px;
  }
  .progress-box-1{
    padding: 0px 40px;
    padding-bottom: 9px;
    position: relative;
    color: #fff;
    .yes{
      position: absolute;
      left: 15px;
      top: -7px;
      img{
        width: 30px;
      }
    }
    .no{
      position: absolute;
      right: 15px;
      top: -7px;
      img{
        width: 30px;
      }
    }
    .number{
        position: relative;
        top: 1px;
      }
    }
  .progress-bar{
    box-shadow: none;
    position: relative;
    &.progress-bar-custom{
      background-image: none;
      background-color: transparent;
      min-width: 6% !important;
      max-width: 100% !important;
    }
    span.point{
      position: absolute;
      right: -15px;
      top: -5px;
      img{
        height: 24px;
      }
      i{
        font-style: inherit;
      }
    }
  }
}

.title-3{
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 1px #C7C7C7;
  overflow: hidden;
  margin-bottom: 10px;
  h1{
    color: $primary;
    text-align: center;
    font-size: 38px;
    margin: 25px 0px;
  }
  .progress-box-2{
    padding: 0px ;
    padding-bottom: 25px;
    position: relative;
    color: #fff;
    .left-user{
      position: absolute;
      left: 0px;
      top: -10px;
      font-size: 12px;
      .user{
        height: 40px;
        padding: 0px 10px;
        line-height: 40px;
        background-color: $red;
        float: left;
      }
      i{
        font-style: inherit;
        padding-left: 10px;
      }
    }
    .right-user{
      position: absolute;
      right: 0px;
      top: -10px;
      font-size: 12px;
      .user{
        height: 40px;
        padding: 0px 10px;
        line-height: 40px;
        background-color: $yellow;
        float: right;
      }
      i{
        font-style: inherit;
        padding-right: 10px;
      }
    }
  }
  .progress-bar{
    box-shadow: none;
    position: relative;
    &.progress-bar-custom{
      background-image: none;
      background-color: transparent;
      min-width: 6% !important;
      max-width: 100% !important;
    }
    span.point{
      position: absolute;
      right: -15px;
      top: -5px;
      img{
        height: 30px;
      }
      i{
        font-style: inherit;
      }
    }
  }
  .clock-box{
    padding-bottom: 25px;
  }
}

.title-4{
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 1px #C7C7C7;
  overflow: hidden;
  margin-bottom: 10px;
  h3{
    color: $primary;
    text-align: left;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 30px;
  }
  .progress-bar{
    line-height: 10px;
    position: relative;
    background-image: none;
    .number{
      position: absolute;
      right: -30px;
      color: $red;
    }
    &.color-1{
      background-color: $red;
    }
    &.color-2{
      background-color: $little-red;
    }
    &.color-3{
      background-color: $light-red;
    }
  }
  .progress{
    height: 10px;
    margin-bottom: 0px;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
  }
  .progress-box-3{
    padding: 6px 10px;
    position: relative;
    color: #fff;
    height: auto;
    overflow: hidden;
    .left-box{
      width: 40px;
      text-align: center;
      float: left;
    }
    .right-box{
      width: auto;
      float: none;
      overflow: hidden;
      .sub-title{
        color: $primary;
      }
    }
  }
}
.title-5{
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 1px #C7C7C7;
  overflow: hidden;
  h3{
    color: $primary;
    text-align: left;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 0px;
    padding-right: 40px;
    margin-top: 0px;
  }
  .clock-box{
    padding: 0px 15px;
    display: inline-block;
    div{
      float: left;
      &.right{
        padding-left: 15px;
      }
    }
  }
  .battle{
    display: inline-block;
    margin: 15px 0px;
    .icon{
      background:url(../images/battle.png) no-repeat center center;
      width: 40px;
      height: 40px;
      float: left;
      margin-top: 20px;
    }
    .left{
      float: left;

      .user{
        float: left;
        text-align: center;
        .number{
          color: $red;
        }
        .name{
          color: #fff;
          line-height: 40px;
          height: 40px;
          background-color: $red;
          padding: 0px 5px;
          box-shadow: 1px 2px 1px #AFAFAF;
        }
      }
      .img{
        float: left;
        margin-top: 20px;
        position: relative;
        box-shadow: 1px 2px 1px #AFAFAF;
        .crown{
          position: absolute;
          top: -15px;
          left: 10px;
        }
      }
    }
    .right{
      float: right;

      .user{
        float: right;
        text-align: center;
        .number{
          color: $red;
        }
        .name{
          color: #fff;
          line-height: 40px;
          height: 40px;
          background-color: $yellow;
          padding: 0px 5px;
          box-shadow: -2px 2px 1px #AFAFAF;
        }
      }
      .img{
        float: right;
        margin-top: 20px;
        box-shadow: -2px 2px 1px #AFAFAF;
        position: relative;
        .crown{
          position: absolute;
          top: -15px;
          left: 10px;
        }
      }
    }
  }
}
