.title-1{
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 1px #C7C7C7;
  h1{
    color: #534741;
    text-align: center;
    font-size: 38px;
    padding: 25px 0px;
  }
}

.quick-actions{
  position: relative;
  .star{
    position: absolute;
    top: -5px;
    right: 10px;
  }
  .histogram{
    position: absolute;
    top: 5px;
    right: 40px;
  }
}